@using Microsoft.AspNetCore.Http
@model CTLLunch.Models.EmployeeModel;
<aside class="main-sidebar sidebar-dark-primary elevation-2">
    <a class="brand-link text-center" asp-controller="Home" asp-action="Index">
        <span class="brand-text text-bold">โปรแกรมจองข้าว</span>
    </a>
    <div class="sidebar" style="padding-left:5px">
        <nav class="mt-2">
            <ul class="nav nav-legacy nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="nav-icon fas fa-home"></i>
                        <p class="text-bold">ข้อมูลส่วนตัว</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-legacy nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reserve" asp-action="Index">
                        <i class="nav-icon fas fa-utensils"></i>
                        <p class="text-bold">จองข้าว</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-legacy nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ReserveLog" asp-action="Index">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p class="text-bold">ประวัติจองข้าว</p>
                    </a>
                </li>
            </ul>
            @if (Model.role == "Admin")
            {
                <ul class="nav nav-pills nav-sidebar flex-column" id="menusidebar" data-widget="treeview">
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p><b>ตั้งค่า</b></p><i class="right fas fa-angle-left"></i>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link pl-4 dropdown-item" asp-controller="ShopManage" asp-action="Index">
                                    <b>- ร้านค้า</b>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link pl-4 dropdown-item" asp-controller="Category" asp-action="Index">
                                    <b>- หมวดหมู่อาหาร</b>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link pl-4 dropdown-item" asp-controller="ManageMenu" asp-action="Index">
                                    <b>- เมนูอาหาร</b>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link pl-4 dropdown-item" asp-controller="Balance" asp-action="Index">
                                    <b>- ยอดเงินคงเหลือ</b>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link pl-4 dropdown-item" asp-controller="Employee" asp-action="Index">
                                    <b>- พนักงาน</b>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
        </nav>
        <div class="row d-flex justify-content-center pt-5">
            <p style="font-size:20px;color:white">เลือกสแกนเติมเงิน</p>
        </div>
        @* <div class="row d-flex justify-content-center">
            <img id="img" src="~/images/qr code.jpg" alt="" style="width:240px;height:280px;cursor:pointer" />
        </div> *@
@*         <div class="input-group row d-flex justify-content-center pt-3">
            <p style="font-size:20px;color:white">จำนวนเงินที่เติมได้</p>
        </div> *@
        <div class="input-group row d-flex justify-content-center pt-2">
            <div class="col-4 col-md-4 col-xl-4">
                <input type="button" value="300" style="background-color:transparent;border:none;color:white" class="form-control" onclick="AddMoney(300)" />
            </div>
            <div class="col-4 col-md-4 col-xl-4">
                <input type="button" value="400" style="background-color:transparent;border:none;color:white" class="form-control" onclick="AddMoney(400)" />
            </div>
            <div class="col-4 col-md-4 col-xl-4">
                <input type="button" value="500" style="background-color:transparent;border:none;color:white" class="form-control" onclick="AddMoney(500)" />
            </div>
        </div>
        <div class="input-group row d-flex justify-content-center pt-2">
            <div class="col-4 col-md-4 col-xl-4">
                <input type="button" value="1000" style="background-color:transparent;border:none;color:white" class="form-control" onclick="AddMoney(1000)" />
            </div>
            <div class="col-4 col-md-4 col-xl-4">
                <input type="button" value="1500" style="background-color:transparent;border:none;color:white" class="form-control" onclick="AddMoney(1500)" />
            </div>
            <div class="col-4 col-md-4 col-xl-4">
                <input type="button" value="2000" style="background-color:transparent;border:none;color:white" class="form-control" onclick="AddMoney(2000)" />
            </div>
        </div>
    </div>
</aside>
<body>
    <div class="modal fade" id="modal_qrcode" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <p style="font-size:20px;font-weight:700" id="amount">จำนวนเงิน</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <img id="img" alt="" style="width:250px;height400px;cursor:pointer" />
                            </div>
                        </div>
                    </form>
                </div>               
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function AddMoney(amount) {
            $('#amount').text("จำนวนเงิน " + amount + " บาท");
            $('#img').attr('src', `/lunch/images/qrcode${amount}.jpg`);
            $('#modal_qrcode').modal();
        }
    </script>
</body>
    
