@{
    ViewData["Title"] = "Home";
    List<ShopModel> shops = ViewBag.shops;
}
<div class="container">
    <div class="row p-1" style="row-gap:10px">
        <div class="col-xl-12">
            <div class="card card-dark">
                <div class="card-body">
                    <div class="row">
                        @{
                            for (int i = 0; i < shops.Count; i++)
                            {
                                <div class="col-4 col-xl-2 col-md-3 pt-2">
                                    <input class="form-control" type="button" style="width:100px;height:100px" value="@shops[i].shop_name" onclick="Shop_Click(`@shops[i].shop_id`)" />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-1" style="row-gap:1px">
        <div class="col-xl-12">
            <div class="card card-dark">
                <div class="card-header">
                    <span class="card-title">รายการที่จอง</span>
                </div>
                <div class="card-body">
                    <table id="table" class="table table-sm table-hover table-bordered text-center w-100">
                        <thead style="background-color: #034694;color:white">
                            <tr>
                                <th>ลำดับ</th>
                                <th>เวลาที่สั่ง</th>
                                <th>ผู้สั่ง</th>
                                <th>รายการอาหาร</th>
                                <th>จำนวน</th>
                                <th>ราคา</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-1" style="row-gap:10px">
        <div class="col-xl-12">
            <div class="card card-dark">
                <div class="card-header">
                    <span class="card-title">เมนูอาหาร</span>
                    <div class="card-tools">
                        <select id="select_group" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div id="show_menu" class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        let menus = [];
        $(document).ready(async function () {

        });

        async function Shop_Click(shop_id) {
            await GetMenuByShop(shop_id);
        }

        async function GetMenuByShop(shop_id) {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetMenuByShop", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { shop_id },
                success: function (response) {
                    let menu = response;
                    menus = menu.menu;
                    GroupSelect(menu.group);
                }
            });
        };

        function GroupSelect(groups) {
            var str = '<option value="" selected disabled>Please Select Job</option>';          
            for (var i = 0; i < groups.length; i++) {
                str += '<option value="' + groups[i].group_id + '">' + groups[i].group_id + ": " + groups[i].group_name + '</option>';
            }
            $('#select_group').empty();
            $('#select_group').append(str);
        }

        $('#select_group').on('change', function () {
            let group = $('#select_group').val();
            ShowMenu(group, false);
        });

        function ShowMenu(group_id, all) {
            let temp_menus = [];
            if (all === true) {
                temp_menus = menus;
            } else {
                temp_menus = menus.filter(f => f.group_id === group_id).map(m => m);               
            }
            let str = ``;
            for (let i = 0; i < temp_menus.length; i++) {
                str += ` <div class="col-6 col-md-6 col-xl-6">                          
                                <input class="form-check-input" type="radio" id="Menu_${temp_menus[i].menu_id}" name="menu" style="width:20px;height:1em;" onchange="Menu_Changed('${temp_menus[i].menu_id}');" />
                                <label class="form-check-label" for="Menu_${temp_menus[i].menu_id}"><b>${temp_menus[i].menu_name} ฿${temp_menus[i].price}</b></label>
                        </div>`;
            }
  
            $('#show_menu').empty();
            $('#show_menu').append(str);
        }

        function Menu_Changed(menu_id) {

        }
    </script>
}